.ui.grid {
  margin-top: -1rem;
  margin-bottom: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.container-content {
  width: 70%;
}
p {
  font-size: 16px;
}
.container {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px;
}

.column > img {
  margin: 5px;
}
.column {
  background-color: white;
}
.column.project-info {
  padding-top: 1rem;
}

.notShow {
  display: none;
}
.two.column.row {
  margin: 5px;
}
